#main-frame{
    display: flex;
    flex-direction: column;
}

#header-wide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    visibility: visible;
}

#header-mobile {
    height:0;
    visibility:hidden;
}

@media only screen and (max-width: 1010px) {
    #header-wide {
        visibility: hidden;
        height: 0rem;
    }
    #header-mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        visibility: visible;
        height:fit-content
    }

}
#logo {
    height: 3rem;
    width:fit-content;
    margin: 0.5rem;
}

#header-navbar-socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-end;
}
#navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1.5rem;
}

.header-button {
    display: flex;
    height: fit-content;
    width: fit-content;
    align-items: center;
    align-content: center;
    padding: 0.5rem;
    margin: 0.5rem;
}

h3 {
    font-size: 1.25rem;
    font-family: 'Inter', sans-serif;
    margin-top: .25rem;
    margin-bottom: .25rem;
}

#instagram {
    height: 3rem;
    width: 3rem;
}

#yelp {
    height: 3rem;
    width: 3rem;
}

#menu {
    height: 3rem;
    width: 3rem;
}


#logo-mobile {
    height: 3rem;
    width:fit-content;
    margin: 0.5rem;
}

#vid-div-wide {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    visibility: visible;
}

#vid-div-mobile {
    visibility: hidden;
    height: 0;
}

@media only screen and (max-width: 1075px) {
    #vid-div-wide {
        visibility: hidden;
        height: 0;
    }

    #vid-div-mobile {
        display: flex;
        flex-direction: column;
        visibility: visible;
        height: fit-content;
    }

    h1 {
        font-family: 'Salsa';
        font-size: 3rem;
        color: white;
        margin-top: 0.5rem;
        margin-bottom: -0.25rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}
#coverVideo {
    width: 66.66%;
}

#order-now-div {
    width: 33.33%;
    background-color: #00321D;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

#order-now-div-mobile {
    background-color: #00321D;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


h1 {
    font-family: 'Salsa';
    font-size: 4.5rem;
    color: white;
    white-space: nowrap;
    margin-top: 0.5rem;
    margin-bottom: -0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

h2 {
    font-family: "Dancing Script", cursive;
    font-size: 2rem;
    color: white;
    margin: 0.5rem;
}

.phrase {
    font-family: 'Abel';
    font-size: 1.5rem;
    color: white;
    margin: 0.5rem;
    text-align: center;
}

.red-button {
    background-color: #7B0F11;
    border: 0.25rem;
    font-size: 1.4rem;
    color: white;
    border-radius: 0.25rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.55rem;
    padding-right: 0.55rem;
    margin: 0.5rem;
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem;
}

#order-now-text {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.pic-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 3rem;
}

.pic-row-grey {
    display: flex;
    background-color: #E7E7E7;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 3rem;
    visibility: visible;
    height: fit-content;
}

.pic-row-grey-mobile {
    visibility: hidden;
    height:0
}

@media only screen and (max-width: 1200px) {
.pic-row-grey {
    visibility: hidden;
    height: 0;
    padding: 0;
}
.pic-row-grey-mobile {
    display: flex;
    background-color: #E7E7E7;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 3rem;
    visibility: visible;
    height: fit-content
}
}
.pic {
     width: 40%;
     height: fit-content;
     box-shadow: 0.35rem 0.35rem 1rem -0.25rem black;
     
}

@media only screen and (max-width: 1200px) {
    .pic {
        width: 80%;
        height: fit-content;
        box-shadow: 0.35rem 0.35rem 1rem -0.25rem black;
   }
}

.pic-title {
    font-family: 'Salsa';
    font-size: 4.5rem;
    color: #00321D;
    white-space: nowrap;
    margin-top: 0.5rem;
    margin-bottom: -0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.row-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.phrase-dark {
    font-family: 'Abel';
    font-size: 1.5rem;
    color: black;
    margin: 0.5rem;
    text-align: center;
}

.green-button {
    background-color: #00321D;
    border: 0.25rem;
    font-size: 1.75rem;
    color: white;
    border-radius: 0.25rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0.5rem;
}

#gallery {
    display: flex;
    flex-direction: column;
    background-color: #E7E7E7;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

#gallery-title {
    font-family: 'Salsa';
        font-size: 4.5rem;
        color: #00321D;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
}

.gallery-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    
}

.gallery-pic {
    width: 20%;
    height: fit-content;
    margin: 2.5%;
    box-shadow: 0.35rem 0.35rem 1rem -0.25rem black;
    
}

@media only screen and (max-width: 500px) {
    .gallery-pic {
        width: 40%;
        height: fit-content;
        margin: 5%;
        box-shadow: 0.35rem 0.35rem 1rem -0.25rem black;
    }
}

#reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center
}

#review-title {
    font-family: 'Salsa';
        font-size: 4.5rem;
        color: #00321D;
        margin-top: 1.5rem;
        margin-bottom: 0rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
}

#row-stars {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.stars {
    width: 4rem;
    height: fit-content;
    margin: 1rem;
}

#review-rows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#arrowhead-right {
    width: 3rem;
    height: fit-content;
    margin-left: 4rem;
}

#review-text {
    width: 50%;
    height: fit-content;
    text-align: center;
    font-family: 'Abel';
    font-size: 1.5rem;
    color: black;
    margin: 0.5rem;
}
#arrowhead-left {
    width: 3rem;
    height: fit-content;
    margin-right: 4rem;
    transform: rotate(180deg);
}

.circle {
    width: 1.75rem;
    height: fit-content;
    margin: 0.5rem;
}